<div class="back">
    <h1 style="padding: 20px; font-family: 'Shadows Into Light', cursive; font-size: 60px; color: white;">Welcome {{FindName}} !!</h1>
    <div class="container">
    
        <div class="row mt-3">
            <div class="">
                <div class="d-grid justify-content-center" style="justify-items: center;">
                    <h1 style="font-family: 'Inconsolata', monospace; font-size: 50px;">Publish your passions, your way !</h1>
                    <h1  style="font-family: 'Inconsolata', monospace; font-size: 30px; font-weight: 300;">Create a unique and beautiful blog easily.</h1>
                    <button type="button" routerLink="/create" class="btn btn-lg btn-info p-3 mt-5">Create a blog !</button>
                </div>
            </div>
        </div>
    </div>

</div>