/* .fullcolor{
    background-color: rgb(25, 25, 95);
} */

.fullcolor{
    position: relative;
    top: -25px;
    /* height: calc(100vh - 80px); */
    /* background-color: rgb(8, 8, 55); */
    /* height: 100%; */
    width: 100%;
}  